/*
/.**

# whitelist
!/.bin
!/.bin/**
!/.config
!/.config/git/ignore
!/.config/nvim
!/.config/nvim/**
!/.config/karabiner/karabiner.json
!/.config/ghostty
!/.config/ghostty/**
!/.config/zed
!/.config/zed/keymap.json
!/.config/zed/settings.json
!/.vscode
!/.vscode/**
!/screenshots
!/.gitconfig
!/.gitignore
!/.vimrc
!/.zshrc
!/Brewfile
!/Makefile
!/README.md
